@charset "utf-8";
	
/* CSS Document */
/*公共部分*/
body {
	background: #fff;
	 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	 -webkit-touch-callout:none;
}
html{
	
	-webkit-text-size-adjust:none;
	font-size:20px;
	-line-height:1.5;
	font-family:'微软雅黑';
}
ol,ul {
	list-style:none;
} 
body,p,blockquote,ul,ol,li,h1,h2,h3,h4,h5,h6,dl,dd,input,textarea,button{
	margin:0;
	 padding:0;
}
h1, h2, h3, h4, h5,em,i { 
	font-weight:normal;
}
em,i{ 
	font-style: normal;
}
img{
	border: 0;
	vertical-align: middle;
}
a {text-decoration: none;
	 color: #252525;
	 outline:none;
	}
input,select,textarea{
	border:0;
	outline: none;
	 /*-webkit-appearance:none;*/
	 -resize:none;
	background-color: #fff;
	}
html,body{ 
	-height:100%;
	 width:100%;
	overflow-x:hidden;
	}
/* :not(input) {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
} */
.goods_red{
	color: red;
}

[v-cloak] {
	display: none;
}

.lct-cnzz{
	display: none;
}
footer{
	width: 100%;
    height: 1rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 20;
    -display: none;
    border-top: 0.02rem solid #ccc;
}
.ft-wrap{
	width: 100%;
	display: flex;

}
.ft-wrap li{
	flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
	height: 1rem;
}
.ft-wrap li i:nth-child(1){
	width: 0.44rem;
	height: 0.48rem;
}
.ft-wrap li i{
	width: 0.48rem;
	height: 0.48rem;
	display: block;
	margin:.1rem auto 0;
	
}
.ft-txt{
	text-align: center;
	font-size: 0.22rem;
	color: #333;
	display: block;
	margin-top: 0.05rem;
}
.ft-txt-act{
	color: #f81234;
	display: block;
	margin-top: 0.05rem;
	text-align: center;
	font-size: 0.22rem;
}
.icon-sy{
	background: url(../images/bot_icons/icon_shouye_normal.png?lv=1385e0ba69) no-repeat;
	background-size: contain;
}
.icon-sy-act{
	background: url(../images/bot_icons/icon_shouye_click.png?lv=4f6243d141) no-repeat;
	background-size: contain;
}
.icon-fl{
	background: url(../images/bot_icons/icon_fenlei_normal.png?lv=8836ace737) no-repeat;
	background-size: contain;
}
.icon-fl-act{
	background: url(../images/bot_icons/icon_fenlei_click.png?lv=9318ad68c8) no-repeat;
	background-size: contain;
}
.icon-gwc{
	background: url(../images/bot_icons/icon_gouwuche_normal.png?lv=490cadcb53) no-repeat;
	background-size: contain;
}
.icon-gwc-act{
	background: url(../images/bot_icons/icon_gouwuche_click.png?lv=7e11a69265) no-repeat;
	background-size: contain;
}
.icon-wd{
	background: url(../images/bot_icons/icon_wode_normal.png?lv=38be86afdd) no-repeat;
	background-size: contain;
}
.icon-wd-act{
	background: url(../images/bot_icons/icon_wode_click.png?lv=b6da1307f4) no-repeat;
	background-size: contain;
}
#lct_customer{
    display: none;
}
